# Imports

In [1]:
import warnings
import os
import sys
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


# Realod modules
import importlib

In [3]:
import sys
sys.path.append(r'C:\Users\Lenovo\Documents\DSPython\projetscoring')

In [4]:
# Data Ingestion : import des data et autres fonctionnalité
from src.components.data_ingestion import *

In [5]:
# Data Transformation : Transformation des data
from src.components.data_transformation import DataTransformation

In [ ]:
from src.components.model_trainer import *

# Relaod modules

In [140]:
importlib.reload(sys.modules['src.components.data_ingestion'])
from src.components.data_ingestion import *
importlib.reload(sys.modules['src.components.data_transformation'])
from src.components.data_transformation import *
importlib.reload(sys.modules['src.components.model_trainer'])
from src.components.model_trainer import *

# Data base

In [6]:
# 01 - Data Base : 
# Le chemin pour accéder à la base des données se trouve dans les configurations : data_config.py
data_base = DataIngestion()

In [7]:
# Extraction nom de fichiers avec et sans extensions
liste_name, files_liste_name = data_base.get_files_names()

In [8]:
liste_name

['application_test',
 'application_train',
 'bureau',
 'bureau_balance',
 'credit_card_balance',
 'Final_df',
 'HomeCredit_columns_description',
 'installments_payments',
 'POS_CASH_balance',
 'previous_application',
 'sample_submission']

In [9]:
files_liste_name

['application_test.csv',
 'application_train.csv',
 'bureau.csv',
 'bureau_balance.csv',
 'credit_card_balance.csv',
 'Final_df.csv',
 'HomeCredit_columns_description.csv',
 'installments_payments.csv',
 'POS_CASH_balance.csv',
 'previous_application.csv',
 'sample_submission.csv']

# Import data

In [11]:
# df = pd.read_csv('C:/Users/Lenovo/Documents/DSPython/data_projet_7/Final_df.csv')

In [10]:
row_data = data_base.import_file(file_name='Final_df.csv', reduce_memory_usage = False)

Importation du dataset...
Importation du dataset réussie !

In [12]:
rapport_df_row_data = RapportDataFrame(row_data, target_column="TARGET", ID_Columns="SK_ID_CURR")
# Rapport : row_datarow_data
print("Data Frame : row_data")
print(20 * "--")
rapport_df_row_data.rapport(nan_threshold = 20, return_column_to_keep=False, print_rapport = True)

Data Frame : row_data
----------------------------------------
Nombre de ligne : 307507 --- Nombre de colonnes : 798
----------------------------------------
Le Taux de remplissage total est égal à : 74.76 %
Nombre de colonnes ayant moins de 20% de valeurs manquantes : 517
Le Nombre de features vides est égal à : 0 Features
----------------------------------------
Les Features vides sont : []
Les Features Ayant plus  20%  de valeurs manquantes sont:
['REFUSED_RATE_DOWN_PAYMENT_MIN', 'REFUSED_RATE_DOWN_PAYMENT_MAX', 'REFUSED_AMT_DOWN_PAYMENT_MEAN', 'REFUSED_AMT_DOWN_PAYMENT_MAX', 'REFUSED_AMT_DOWN_PAYMENT_MIN', 'REFUSED_RATE_DOWN_PAYMENT_MEAN', 'REFUSED_APP_CREDIT_PERC_VAR', 'CC_AMT_PAYMENT_CURRENT_VAR', 'CC_CNT_DRAWINGS_ATM_CURRENT_VAR', 'CC_AMT_DRAWINGS_OTHER_CURRENT_VAR', 'CC_AMT_DRAWINGS_POS_CURRENT_VAR', 'CC_AMT_DRAWINGS_ATM_CURRENT_VAR', 'CC_CNT_DRAWINGS_POS_CURRENT_VAR', 'CC_CNT_DRAWINGS_OTHER_CURRENT_VAR', 'CC_AMT_PAYMENT_CURRENT_MEAN', 'CC_AMT_PAYMENT_CURRENT_MAX', 'CC_AMT_PAYMENT_CURRENT_MIN', 'CC_AMT_DRAWINGS_OTHER_CURRENT_MAX', 'CC_AMT_DRAWINGS_OTHER_CURRENT_MEAN', 'CC_AMT_DRAWINGS_OTHER_CURRENT_MIN', 'CC_CNT_DRAWINGS_POS_CURRENT_MIN', 'CC_AMT_DRAWINGS_ATM_CURRENT_MEAN', 'CC_AMT_DRAWINGS_POS_CURRENT_MIN', 'CC_AMT_DRAWINGS_POS_CURRENT_MAX', 'CC_AMT_DRAWINGS_POS_CURRENT_MEAN', 'CC_AMT_DRAWINGS_ATM_CURRENT_MIN', 'CC_CNT_DRAWINGS_ATM_CURRENT_MIN', 'CC_CNT_DRAWINGS_ATM_CURRENT_MAX', 'CC_CNT_DRAWINGS_ATM_CURRENT_MEAN', 'CC_CNT_DRAWINGS_OTHER_CURRENT_MIN', 'CC_CNT_DRAWINGS_OTHER_CURRENT_MAX', 'CC_CNT_DRAWINGS_OTHER_CURRENT_MEAN', 'CC_CNT_DRAWINGS_POS_CURRENT_MEAN', 'CC_AMT_DRAWINGS_ATM_CURRENT_MAX', 'CC_CNT_DRAWINGS_POS_CURRENT_MAX', 'ACTIVE_AMT_ANNUITY_MEAN', 'ACTIVE_AMT_ANNUITY_MAX', 'CLOSED_AMT_ANNUITY_MEAN', 'CLOSED_AMT_ANNUITY_MAX', 'ACTIVE_MONTHS_BALANCE_MIN_MIN', 'ACTIVE_MONTHS_BALANCE_MAX_MAX', 'ACTIVE_MONTHS_BALANCE_SIZE_MEAN', 'BURO_AMT_ANNUITY_MEAN', 'BURO_AMT_ANNUITY_MAX', 'CLOSED_MONTHS_BALANCE_MIN_MIN', 'CLOSED_MONTHS_BALANCE_MAX_MAX', 'CLOSED_MONTHS_BALANCE_SIZE_MEAN', 'CC_AMT_PAYMENT_TOTAL_CURRENT_VAR', 'CC_AMT_RECIVABLE_VAR', 'CC_SK_DPD_DEF_VAR', 'CC_NAME_CONTRACT_STATUS_Active_VAR', 'CC_NAME_CONTRACT_STATUS_Sent proposal_VAR', 'CC_AMT_INST_MIN_REGULARITY_VAR', 'CC_AMT_TOTAL_RECEIVABLE_VAR', 'CC_SK_DPD_VAR', 'CC_NAME_CONTRACT_STATUS_Approved_VAR', 'CC_AMT_BALANCE_VAR', 'CC_NAME_CONTRACT_STATUS_Refused_VAR', 'CC_AMT_RECEIVABLE_PRINCIPAL_VAR', 'CC_CNT_INSTALMENT_MATURE_CUM_VAR', 'CC_NAME_CONTRACT_STATUS_Completed_VAR', 'CC_MONTHS_BALANCE_VAR', 'CC_NAME_CONTRACT_STATUS_nan_VAR', 'CC_AMT_DRAWINGS_CURRENT_VAR', 'CC_AMT_CREDIT_LIMIT_ACTUAL_VAR', 'CC_NAME_CONTRACT_STATUS_Demand_VAR', 'CC_NAME_CONTRACT_STATUS_Signed_VAR', 'CC_CNT_DRAWINGS_CURRENT_VAR', 'CC_AMT_TOTAL_RECEIVABLE_MIN', 'CC_AMT_RECIVABLE_MAX', 'CC_AMT_RECIVABLE_MEAN', 'CC_AMT_RECIVABLE_SUM', 'CC_CNT_DRAWINGS_OTHER_CURRENT_SUM', 'CC_AMT_RECIVABLE_MIN', 'CC_AMT_TOTAL_RECEIVABLE_MAX', 'CC_AMT_TOTAL_RECEIVABLE_MEAN', 'CC_CNT_DRAWINGS_CURRENT_MEAN', 'CC_CNT_DRAWINGS_CURRENT_MAX', 'CC_CNT_DRAWINGS_CURRENT_MIN', 'CC_AMT_TOTAL_RECEIVABLE_SUM', 'CC_CNT_DRAWINGS_ATM_CURRENT_SUM', 'CC_CNT_DRAWINGS_CURRENT_SUM', 'CC_AMT_PAYMENT_TOTAL_CURRENT_SUM', 'CC_AMT_RECEIVABLE_PRINCIPAL_SUM', 'CC_AMT_DRAWINGS_OTHER_CURRENT_SUM', 'CC_AMT_CREDIT_LIMIT_ACTUAL_MAX', 'CC_AMT_CREDIT_LIMIT_ACTUAL_MEAN', 'CC_AMT_CREDIT_LIMIT_ACTUAL_SUM', 'CC_AMT_BALANCE_SUM', 'CC_AMT_BALANCE_MEAN', 'CC_AMT_BALANCE_MAX', 'CC_AMT_DRAWINGS_ATM_CURRENT_SUM', 'CC_AMT_BALANCE_MIN', 'CC_AMT_DRAWINGS_CURRENT_MIN', 'CC_AMT_DRAWINGS_CURRENT_MAX', 'CC_AMT_DRAWINGS_CURRENT_MEAN', 'CC_AMT_DRAWINGS_CURRENT_SUM', 'CC_MONTHS_BALANCE_SUM', 'CC_MONTHS_BALANCE_MAX', 'CC_AMT_RECEIVABLE_PRINCIPAL_MEAN', 'CC_MONTHS_BALANCE_MIN', 'CC_AMT_DRAWINGS_POS_CURRENT_SUM', 'CC_AMT_INST_MIN_REGULARITY_MIN', 'CC_AMT_INST_MIN_REGULARITY_MAX', 'CC_AMT_INST_MIN_REGULARITY_MEAN', 'CC_AMT_INST_MIN_REGULARITY_SUM', 'CC_AMT_PAYMENT_CURRENT_SUM', 'CC_AMT_PAYMENT_TOTAL_CURRENT_MIN', 'CC_AMT_PAYMENT_TOTAL_CURRENT_MAX', 'CC_AMT_PAYMENT_TOTAL_CURRENT_MEAN', 'CC_AMT_CREDIT_LIMIT_ACTUAL_MIN', 'CC_AMT_RECEIVABLE_PRINCIPAL_MIN', 'CC_AMT_RECEIVABLE_PRINCIPAL_MAX', 'CC_COUNT', 'CC_MONTHS_BALANCE_MEAN', 'CC_CNT_DRAWINGS_POS_CURRENT_SUM', 'CC_NAME_CONTRACT_STATUS_Refused_MEAN', 'CC_NAME_CONTRACT_STATUS_Completed_MAX', 'CC_NAME_CONTRACT_STATUS_Sent proposal_SUM', 'CC_NAME_CONTRACT_STATUS_Sent proposal_MEAN', 'CC_NAME_CONTRACT_STATUS_Signed_MIN', 'CC_NAME_CONTRACT_STATUS_nan_MIN', 'CC_NAME_CONTRACT_STATUS_Signed_MEAN', 'CC_CNT_INSTALMENT_MATURE_CUM_MIN', 'CC_NAME_CONTRACT_STATUS_Sent proposal_MAX', 'CC_NAME_CONTRACT_STATUS_Sent proposal_MIN', 'CC_NAME_CONTRACT_STATUS_Refused_SUM', 'CC_NAME_CONTRACT_STATUS_Refused_MAX', 'CC_NAME_CONTRACT_STATUS_Approved_SUM', 'CC_NAME_CONTRACT_STATUS_Refused_MIN', 'CC_NAME_CONTRACT_STATUS_Completed_MEAN', 'CC_NAME_CONTRACT_STATUS_Demand_SUM', 'CC_NAME_CONTRACT_STATUS_Completed_SUM', 'CC_NAME_CONTRACT_STATUS_Demand_MIN', 'CC_NAME_CONTRACT_STATUS_Demand_MAX', 'CC_NAME_CONTRACT_STATUS_Demand_MEAN', 'CC_NAME_CONTRACT_STATUS_Signed_SUM', 'CC_NAME_CONTRACT_STATUS_nan_SUM', 'CC_NAME_CONTRACT_STATUS_nan_MEAN', 'CC_NAME_CONTRACT_STATUS_Completed_MIN', 'CC_NAME_CONTRACT_STATUS_Signed_MAX', 'CC_NAME_CONTRACT_STATUS_Approved_MEAN', 'CC_NAME_CONTRACT_STATUS_Active_MAX', 'CC_CNT_INSTALMENT_MATURE_CUM_MAX', 'CC_CNT_INSTALMENT_MATURE_CUM_MEAN', 'CC_CNT_INSTALMENT_MATURE_CUM_SUM', 'CC_SK_DPD_MIN', 'CC_SK_DPD_MAX', 'CC_SK_DPD_MEAN', 'CC_SK_DPD_SUM', 'CC_SK_DPD_DEF_MIN', 'CC_SK_DPD_DEF_MAX', 'CC_NAME_CONTRACT_STATUS_Approved_MAX', 'CC_SK_DPD_DEF_MEAN', 'CC_SK_DPD_DEF_SUM', 'CC_NAME_CONTRACT_STATUS_Active_MIN', 'CC_NAME_CONTRACT_STATUS_nan_MAX', 'CC_NAME_CONTRACT_STATUS_Active_MEAN', 'CC_NAME_CONTRACT_STATUS_Active_SUM', 'CC_NAME_CONTRACT_STATUS_Approved_MIN', 'REFUSED_AMT_ANNUITY_MIN', 'REFUSED_AMT_ANNUITY_MAX', 'REFUSED_AMT_ANNUITY_MEAN', 'REFUSED_CNT_PAYMENT_MEAN', 'BURO_STATUS_5_MEAN_MEAN', 'BURO_STATUS_2_MEAN_MEAN', 'BURO_STATUS_1_MEAN_MEAN', 'BURO_STATUS_0_MEAN_MEAN', 'BURO_MONTHS_BALANCE_SIZE_MEAN', 'BURO_MONTHS_BALANCE_MAX_MAX', 'BURO_STATUS_4_MEAN_MEAN', 'BURO_STATUS_3_MEAN_MEAN', 'BURO_STATUS_nan_MEAN_MEAN', 'BURO_MONTHS_BALANCE_MIN_MIN', 'BURO_STATUS_C_MEAN_MEAN', 'BURO_STATUS_X_MEAN_MEAN', 'COMMONAREA_MEDI', 'COMMONAREA_MODE', 'COMMONAREA_AVG', 'REFUSED_AMT_GOODS_PRICE_MIN', 'REFUSED_AMT_GOODS_PRICE_MAX', 'REFUSED_AMT_GOODS_PRICE_MEAN', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAPARTMENTS_MEDI', 'REFUSED_APP_CREDIT_PERC_MEAN', 'REFUSED_APP_CREDIT_PERC_MIN', 'REFUSED_APP_CREDIT_PERC_MAX', 'LIVINGAPARTMENTS_MODE', 'LIVINGAPARTMENTS_AVG', 'LIVINGAPARTMENTS_MEDI', 'FLOORSMIN_AVG', 'FLOORSMIN_MEDI', 'FLOORSMIN_MODE', 'REFUSED_AMT_CREDIT_MAX', 'REFUSED_AMT_APPLICATION_MEAN', 'REFUSED_CNT_PAYMENT_SUM', 'REFUSED_AMT_APPLICATION_MAX', 'REFUSED_AMT_APPLICATION_MIN', 'REFUSED_AMT_CREDIT_MIN', 'REFUSED_AMT_CREDIT_MEAN', 'YEARS_BUILD_MEDI', 'YEARS_BUILD_AVG', 'YEARS_BUILD_MODE', 'OWN_CAR_AGE', 'ACTIVE_AMT_CREDIT_MAX_OVERDUE_MEAN', 'LANDAREA_MEDI', 'LANDAREA_AVG', 'LANDAREA_MODE', 'BASEMENTAREA_AVG', 'BASEMENTAREA_MODE', 'BASEMENTAREA_MEDI', 'EXT_SOURCE_1', 'NONLIVINGAREA_AVG', 'NONLIVINGAREA_MODE', 'NONLIVINGAREA_MEDI', 'ACTIVE_DAYS_CREDIT_VAR', 'ELEVATORS_AVG', 'ELEVATORS_MEDI', 'ELEVATORS_MODE', 'CLOSED_AMT_CREDIT_MAX_OVERDUE_MEAN', 'APARTMENTS_AVG', 'APARTMENTS_MEDI', 'APARTMENTS_MODE', 'ENTRANCES_MEDI', 'ENTRANCES_AVG', 'ENTRANCES_MODE', 'LIVINGAREA_MODE', 'LIVINGAREA_AVG', 'LIVINGAREA_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMAX_MODE', 'FLOORSMAX_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BEGINEXPLUATATION_MEDI', 'TOTALAREA_MODE', 'CLOSED_DAYS_CREDIT_VAR', 'BURO_AMT_CREDIT_MAX_OVERDUE_MEAN', 'ACTIVE_AMT_CREDIT_SUM_LIMIT_MEAN', 'CLOSED_AMT_CREDIT_SUM_LIMIT_MEAN', 'ACTIVE_AMT_CREDIT_SUM_DEBT_MEAN', 'ACTIVE_AMT_CREDIT_SUM_DEBT_MAX', 'ACTIVE_DAYS_CREDIT_ENDDATE_MIN', 'ACTIVE_DAYS_CREDIT_ENDDATE_MAX', 'ACTIVE_DAYS_CREDIT_ENDDATE_MEAN', 'APPROVED_APP_CREDIT_PERC_VAR', 'ACTIVE_AMT_CREDIT_SUM_MEAN', 'ACTIVE_AMT_CREDIT_SUM_MAX', 'ACTIVE_CREDIT_DAY_OVERDUE_MAX', 'ACTIVE_AMT_CREDIT_SUM_DEBT_SUM', 'ACTIVE_AMT_CREDIT_SUM_OVERDUE_MEAN', 'ACTIVE_AMT_CREDIT_SUM_LIMIT_SUM', 'ACTIVE_CREDIT_DAY_OVERDUE_MEAN', 'ACTIVE_CNT_CREDIT_PROLONG_SUM', 'ACTIVE_MONTHS_BALANCE_SIZE_SUM', 'ACTIVE_AMT_CREDIT_SUM_SUM', 'ACTIVE_DAYS_CREDIT_MEAN', 'ACTIVE_DAYS_CREDIT_MAX', 'ACTIVE_DAYS_CREDIT_MIN', 'CLOSED_AMT_CREDIT_SUM_DEBT_MAX', 'CLOSED_AMT_CREDIT_SUM_DEBT_MEAN', 'BURO_DAYS_CREDIT_VAR', 'CLOSED_DAYS_CREDIT_ENDDATE_MAX', 'CLOSED_DAYS_CREDIT_ENDDATE_MIN', 'CLOSED_DAYS_CREDIT_ENDDATE_MEAN', 'PREV_APP_CREDIT_PERC_VAR', 'CLOSED_MONTHS_BALANCE_SIZE_SUM', 'CLOSED_CNT_CREDIT_PROLONG_SUM', 'CLOSED_DAYS_CREDIT_MIN', 'CLOSED_AMT_CREDIT_SUM_DEBT_SUM', 'CLOSED_CREDIT_DAY_OVERDUE_MAX', 'CLOSED_CREDIT_DAY_OVERDUE_MEAN', 'CLOSED_DAYS_CREDIT_MEAN', 'CLOSED_DAYS_CREDIT_MAX', 'CLOSED_AMT_CREDIT_SUM_MAX', 'CLOSED_AMT_CREDIT_SUM_MEAN', 'CLOSED_AMT_CREDIT_SUM_SUM', 'CLOSED_AMT_CREDIT_SUM_LIMIT_SUM', 'CLOSED_AMT_CREDIT_SUM_OVERDUE_MEAN', 'BURO_AMT_CREDIT_SUM_LIMIT_MEAN']
----------------------------------------
*****Nombre de catégorie features catégorielles******

# Data transformation

In [127]:
transformer_row_data= DataTransformation(row_data)

# Train Test Split

In [13]:
X_train_path, X_test_path, y_train_path, y_test_path = transformer_row_data.initiate_train_test_split(
    target="TARGET",
    train_size=0.30,
    stratification=True)

X_train : done 1/4 ---- Nombre de lignes :215254, Nombre de colonnes:797
y_train : done 2/4 ---- Nombre de lignes :215254
X_test : done 3/4 ---- Nombre de lignes :92253, Nombre de colonnes:797
y_test : done 4/4 ---- Nombre de lignes :92253

In [14]:
print(X_train_path)
print(X_test_path)
print(y_train_path)
print(y_test_path)

artifacts\X_train.csv
artifacts\X_test.csv
artifacts\y_train.csv
artifacts\y_test.csv

# Preprocessing

In [112]:
X_train,X_test, y_train, y_test = transformer_row_data.get_data_frames()

In [128]:
X_train, X_test,y_train,y_test= transformer_row_data.initiate_data_transformation(
    X_train, 
    X_test, 
    y_train,
    y_test,undersampling= True,
    return_train_test_array=False
)

TARGET distribution avant Undersampling
TARGET
0         17377
1         17377
dtype: int64

TARGET distribution après Undersampling
TARGET
0         17377
1         17377
dtype: int64

Les étapes de transformation :
ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('scaled', StandardScaler())]),
                                 ['CODE_GENDER', 'FLAG_OWN_CAR',
                                  'FLAG_OWN_REALTY', 'CNT_CHILDREN',
                                  'AMT_INCOME_TOTAL', 'AMT_CREDIT',
                                  'AMT_ANNUITY', 'AMT_GOODS_PRICE',
                                  'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
                                  'DAYS_EMPLOYED', 'DAYS_REGISTRATION',
                                  'DAYS_ID_PUBLISH', 'OWN_...
                                  'FLAG_MOBIL', 'FLAG_EMP_PHONE',
                                  'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
                                  'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS',
                                  'REGION_RATING_CLIENT',
                                  'REGION_RATING_CLIENT_W_CITY',
                                  'HOUR_APPR_PROCESS_START',
                                  'REG_REGION_NOT_LIVE_REGION',
                                  'REG_REGION_NOT_WORK_REGION',
                                  'LIVE_REGION_NOT_WORK_REGION',
                                  'REG_CITY_NOT_LIVE_CITY',
                                  'REG_CITY_NOT_WORK_CITY',
                                  'LIVE_CITY_NOT_WORK_CITY', ...])])

In [129]:
X_train.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,0.783909,-0.692704,1.490284,0.773952,-0.067317,1.123063,1.794167,1.110862,-0.757876,0.436659,...,-8.586866e-18,-2.788563e-17,-4.702332e-18,4.088984e-19,0.0,0.0,0.0,0.0,0.0,-2.989378e-17
1,0.783909,-0.692704,-0.671013,-0.594760,-0.067317,-1.061894,-1.315027,-0.979866,-0.795281,1.664291,...,-8.586866e-18,-2.788563e-17,-4.702332e-18,4.088984e-19,0.0,0.0,0.0,0.0,0.0,-2.989378e-17
2,0.783909,1.443619,-0.671013,3.511375,-0.035002,-0.191526,0.975386,-0.195843,-1.126896,0.436891,...,-4.020329e-01,-2.033759e-01,-1.563665e-01,-2.725356e-01,0.0,0.0,0.0,0.0,0.0,-9.883663e-01
3,0.783909,1.443619,-0.671013,3.511375,-0.053267,0.599177,-0.062442,0.457509,0.194676,0.885770,...,-4.020329e-01,-2.033759e-01,-1.563665e-01,-2.725356e-01,0.0,0.0,0.0,0.0,0.0,-1.442250e+00
4,0.783909,1.443619,1.490284,-0.594760,0.016984,1.311405,0.584468,1.110862,4.002670,0.391192,...,-8.586866e-18,-2.788563e-17,-4.702332e-18,4.088984e-19,0.0,0.0,0.0,0.0,0.0,-2.989378e-17

In [116]:
X_test.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,-1.275659,1.443619,1.490284,-0.594760,0.087235,-0.711083,-0.296992,-0.718525,0.655608,1.515361,...,0.0,-2.420554e-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.031296e-16
1,-1.275659,-0.692704,-0.671013,0.773952,-0.137568,-1.312065,-1.547268,-1.306542,0.194676,0.606004,...,0.0,-2.420554e-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.031296e-16
2,0.783909,-0.692704,-0.671013,-0.594760,-0.067317,-0.883540,-1.067611,-0.783860,0.859127,1.203813,...,0.0,-2.420554e-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.031296e-16
3,0.783909,-0.692704,-0.671013,-0.594760,-0.053267,-1.327094,-1.702975,-1.319609,0.815308,-1.194383,...,0.0,-2.420554e-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.031296e-16
4,0.783909,-0.692704,-0.671013,-0.594760,-0.074342,-0.526831,-0.572779,-0.391849,-0.156175,-1.682467,...,0.0,-2.420554e-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.031296e-16

In [117]:
y_train.head()

   TARGET
0       0
1       0
2       0
3       0
4       0

In [118]:
y_test.head()

   TARGET
0       0
1       0
2       0
3       0
4       0

# Model trainer

In [131]:
# Initiation du fit et trainig 
models = {
                "LogRegression" : LogisticRegression(),
                "Naive Bayes" : GaussianNB(),
                "Nearest Neighbors" : KNeighborsClassifier(3),
#                 "model_4" : model_4(),
#                 "model_5" : model_5(),
#                 "model_6" : model_6()
            }
# print(modeltrainer.initiate_model_trainer(train_array=train_arr, test_array=test_arr, models=models))

In [141]:
modeltrainer = ModelTrainer()

In [142]:
modeltrainer.initiate_model_trainer(X_tr= X_train, y_tr= y_train, X_te= X_test, y_te= y_test, models=models)

{'LogRegression': 0.703619394491236,
 'Naive Bayes': 0.8655978667360411,
 'Nearest Neighbors': 0.565965334460668}