In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import sys

# Realod modules
import importlib

In [4]:
from src.utilis import *
from src.components.data_ingestion import *
from src.components.data_transformation import *

In [84]:
importlib.reload(sys.modules['src.utilis'])
from src.utilis import *
importlib.reload(sys.modules['src.components.data_ingestion'])
from src.components.data_ingestion import *
importlib.reload(sys.modules['src.components.data_transformation'])
from src.components.data_transformation import *

In [49]:
# 01 - Data Base : 
data_base = DataIngestion(method = "split")

In [50]:
# Extraction nom de fichiers avec et sans extensions
liste_name, files_liste_name = data_base.get_files_names()

In [6]:
liste_name

['application_test',
 'application_train',
 'bureau',
 'bureau_balance',
 'credit_card_balance',
 'HomeCredit_columns_description',
 'installments_payments',
 'POS_CASH_balance',
 'previous_application',
 'sample_submission']

In [7]:
files_liste_name

['application_test.csv',
 'application_train.csv',
 'bureau.csv',
 'bureau_balance.csv',
 'credit_card_balance.csv',
 'HomeCredit_columns_description.csv',
 'installments_payments.csv',
 'POS_CASH_balance.csv',
 'previous_application.csv',
 'sample_submission.csv']

In [51]:
# La liste des fichiers : ici j'ai enlevé HomeCredit_columns_description car n'arrive pas à le lire avec pd.read_csv()

files_liste_name = [
    # 'application_test.csv',
    'application_train.csv',
    #'bureau.csv',
    # 'bureau_balance.csv',
    # 'credit_card_balance.csv',
    # 'HomeCredit_columns_description.csv',
    # 'installments_payments.csv',
    # 'POS_CASH_balance.csv',
    # 'previous_application.csv',
    # 'sample_submission.csv'
 ]

In [52]:
# Attribution des noms de dataframe respectifs : 
liste_name = [
    # 'application_test',
    'application_train',
    #'bureau',
    # 'bureau_balance',
    # 'credit_card_balance',
    # 'HomeCredit_columns_description',
    # 'installments_payments',
    # 'POS_CASH_balance',
    # 'previous_application',
    # 'sample_submission'
    ]

In [53]:
 # Importation et nommage des data sets
path = 'C:/Users/Lenovo/Documents/DSPython/data_projet_7/'
for i, name in enumerate(liste_name):
    exec(f"{name} = reduce_memory_usage(pd.read_csv(path + files_liste_name[i]))")

Memory usage of dataframe is 286.23 MB
Memory usage after optimization is: 92.38 MB
Decreased by 67.7%

In [78]:
rapport_df_train = RapportDataFrame(application_train,target_column= "TARGET", ID_Columns="SK_ID_CURR")
# Rapport : application_train
print("Data Frame : application_train")
print(20 * "--")
rapport_df_train.rapport()

Data Frame : application_train
----------------------------------------
Le Taux de remplissage total est égal à : 75.60405809287056 %
Le Nombre de features vides est égal à : 0 Features
Les Features vides sont : []

*****Nombre de catégorie features catégorielles******

NAME_CONTRACT_TYPE-------------------------------- 2
CODE_GENDER--------------------------------------- 3
FLAG_OWN_CAR-------------------------------------- 2
FLAG_OWN_REALTY----------------------------------- 2
NAME_TYPE_SUITE----------------------------------- 8
NAME_INCOME_TYPE---------------------------------- 8
NAME_EDUCATION_TYPE------------------------------- 5
NAME_FAMILY_STATUS-------------------------------- 6
NAME_HOUSING_TYPE--------------------------------- 6
OCCUPATION_TYPE----------------------------------- 19
WEEKDAY_APPR_PROCESS_START------------------------ 7
ORGANIZATION_TYPE--------------------------------- 58
FONDKAPREMONT_MODE-------------------------------- 5
HOUSETYPE_MODE------------------------------------ 4
WALLSMATERIAL_MODE-------------------------------- 8
EMERGENCYSTATE_MODE------------------------------- 3

In [34]:
# 02 - Split train et test split
train__path, test__path = data_base.initiate_data_ingestion()

In [36]:
print(train__path)
print(test__path)

artifacts\train.csv
artifacts\test.csv

In [37]:
train_df = pd.read_csv(train__path)
test_df = pd.read_csv(test__path)

In [38]:
train_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,243191,0,Cash loans,F,Y,N,0,171000.0,555273.0,16366.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
1,111778,0,Cash loans,M,N,Y,1,157500.0,198085.5,23638.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2,175057,1,Cash loans,M,Y,Y,0,135000.0,776304.0,25173.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
3,372147,0,Cash loans,M,Y,Y,1,164133.0,900000.0,36787.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
4,373412,0,Cash loans,M,N,Y,0,225000.0,533668.5,21294.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246003,239009,0,Cash loans,F,N,Y,0,121500.0,675000.0,32602.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246004,399937,0,Cash loans,F,N,N,2,225000.0,509922.0,40419.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
246005,253016,0,Cash loans,M,Y,Y,0,450000.0,1125000.0,33025.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,3.0
246006,270275,0,Revolving loans,M,Y,Y,1,180000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
246007,241394,1,Cash loans,M,Y,Y,0,157500.0,729792.0,35239.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0

In [40]:
test_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,384575,0,Cash loans,M,Y,N,2,207000.0,465457.5,52641.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
1,214010,0,Cash loans,F,Y,Y,0,247500.0,1281712.5,48946.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
2,142232,0,Cash loans,F,Y,N,0,202500.0,495000.0,39109.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
3,389171,0,Cash loans,F,N,Y,0,247500.0,254700.0,24939.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,283617,0,Cash loans,M,N,Y,0,112500.0,308133.0,15862.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61498,396891,0,Revolving loans,M,Y,Y,2,450000.0,900000.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
61499,423085,0,Cash loans,F,N,Y,0,225000.0,202500.0,24030.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
61500,356971,0,Cash loans,M,N,Y,0,121500.0,254700.0,30357.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
61501,320581,0,Cash loans,M,Y,Y,1,112500.0,1314117.0,38551.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
61502,392758,0,Cash loans,F,N,N,0,157500.0,521280.0,27423.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0

In [79]:
# Pour récupérer les noms de colonnes d'un data frame : Exemple pour previous_application
original_columns_train, categorical_columns_train, numerical_columns_train, binary_columns_train= rapport_df_train.get_df_columns()

In [80]:
numerical_columns_train

['CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'TOTALAREA_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [86]:
# 03 - Data transformation 
data_transformation = DataTransformation(numerical_columns_train, categorical_columns_train, target = "TARGET" , train_path=train__path, test_path=test__path)

In [87]:
data_transformation.get_data_transformer_object()

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('scaled', StandardScaler())]),
                                 ['CNT_CHILDREN', 'AMT_INCOME_TOTAL',
                                  'AMT_CREDIT', 'AMT_ANNUITY',
                                  'AMT_GOODS_PRICE',
                                  'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
                                  'DAYS_EMPLOYED', 'DAYS_REGISTRATION',
                                  'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
                                  'FLAG_MOBIL', 'FLAG_EM...
                                                  StandardScaler(with_mean=False))]),
                                 ['NAME_CONTRACT_TYPE', 'CODE_GENDER',
                                  'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
                                  'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE',
                                  'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
                                  'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
                                  'WEEKDAY_APPR_PROCESS_START',
                                  'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
                                  'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE',
                                  'EMERGENCYSTATE_MODE'])])

In [88]:
# 04 - Initiation du preprocessing, récupération du preprocessing object
train_arr, test_arr, preprocessor_obj_path = data_transformation.initiate_data_transformation()

In [92]:
print(preprocessor_obj_path)

artifacts\preprocessor.pkl

In [89]:
train_arr

array([[-0.57756555,  0.02430965, -0.11006828, ..., 11.47408181,
         0.        ,  0.        ],
       [ 0.81004476, -0.10484026, -0.99617411, ..., 11.47408181,
         0.        ,  0.        ],
       [-0.57756555, -0.32009011,  0.43826238, ..., 11.47408181,
         0.        ,  1.        ],
       ...,
       [-0.57756555,  2.69340773,  1.30330261, ..., 11.47408181,
         0.        ,  0.        ],
       [ 0.81004476,  0.11040958, -0.81776961, ..., 11.47408181,
         0.        ,  0.        ],
       [-0.57756555, -0.10484026,  0.32287605, ..., 11.47408181,
         0.        ,  1.        ]])

In [90]:
test_arr

array([[ 2.17013824,  0.07561856, -0.32773561, ..., 11.79899474,
         0.        ,  0.        ],
       [-0.57745861,  0.15873595,  1.71269838, ..., 11.79899474,
         0.        ,  0.        ],
       [-0.57745861,  0.0663833 , -0.25388673, ..., 11.79899474,
         0.        ,  0.        ],
       ...,
       [-0.57745861, -0.09985146, -0.85457682, ..., 11.79899474,
         0.        ,  0.        ],
       [ 0.79633981, -0.11832199,  1.79370155, ..., 11.79899474,
         0.        ,  0.        ],
       [-0.57745861, -0.02596934, -0.18819328, ..., 11.79899474,
         0.        ,  0.        ]])